In [42]:
import pandas as pd

In [43]:
gpa = pd.read_csv("datasets/uiuc-gpa-dataset.csv")
gpa.head()

,Year,Term,YearTerm,Subject,Number,Course Title,Sched Type,A+,A,A-,...,C+,C,C-,D+,D,D-,F,W,Students,Primary Instructor
0,2025,Winter,2025-wi,ANTH,103,Anthro in a Changing World,ONL,31,4,3,...,0,0,0,0,0,0,1,0,41,"Abing, Jaclyn M"
1,2025,Winter,2025-wi,ASTR,330,Extraterrestrial Life,ONL,3,22,1,...,0,0,0,0,0,0,0,0,38,"Looney, Leslie W"
2,2025,Winter,2025-wi,ATMS,120,Severe and Hazardous Weather,ONL,1,7,2,...,0,2,1,0,0,0,1,0,25,"Choate, Jessica J"
3,2025,Winter,2025-wi,BADM,275,Operations Management,ONL,31,10,12,...,0,0,1,0,0,0,1,0,58,"Han, Rongqing"
4,2025,Winter,2025-wi,BADM,300,The Legal Environment of Bus,ONL,115,29,5,...,1,2,0,0,0,0,0,0,159,"Wright, Margaret"

In [44]:
gpa.columns

Index(['Year', 'Term', 'YearTerm', 'Subject', 'Number', 'Course Title',
       'Sched Type', 'A+', 'A', 'A-', 'B+', 'B', 'B-', 'C+', 'C', 'C-', 'D+',
       'D', 'D-', 'F', 'W', 'Students', 'Primary Instructor'],
      dtype='object')

In [45]:
math_col = [231, 257]

In [46]:
gpa_filtered = gpa[
    ((gpa['Subject'] == 'MATH') & (gpa['Number'].isin(math_col))) |
    ((gpa['Subject'] == 'CS') & (gpa['Number'] == 124)) |
    ((gpa['Subject'] == 'STAT') & (gpa['Number'] == 107)) |
    ((gpa['Subject'] == 'IS') & (gpa['Number'] == 445)) |
    ((gpa['Subject'] == 'ECON') & (gpa['Number'] == 102))
]

In [47]:
gpa_filtered

,Year,Term,YearTerm,Subject,Number,Course Title,Sched Type,A+,A,A-,...,C+,C,C-,D+,D,D-,F,W,Students,Primary Instructor
10,2025,Winter,2025-wi,ECON,102,Microeconomic Principles,ONL,44,29,11,...,0,1,0,0,1,0,0,0,97,"DiIanni, Isaac"
14,2025,Winter,2025-wi,IS,445,Data Visualization,ONL,18,11,1,...,0,0,0,0,0,0,0,1,31,"Besser, Stephanie A"
826,2024,Fall,2024-fa,CS,124,Intro to Computer Science I,OLC,0,819,90,...,16,16,10,0,16,0,34,16,1107,"Challen, Geoffrey W"
1048,2024,Fall,2024-fa,ECON,102,Microeconomic Principles,DIS,15,10,5,...,1,3,4,0,0,0,0,0,48,"Cueva Chavez, Ronald A"
1049,2024,Fall,2024-fa,ECON,102,Microeconomic Principles,DIS,7,13,7,...,4,2,1,0,0,0,0,0,48,"Cueva Chavez, Ronald A"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73625,2010,Spring,2010-sp,MATH,231,Calculus II,LCD,2,4,3,...,0,0,1,0,3,2,0,0,24,"Szuta, Patryk L"
73626,2010,Spring,2010-sp,MATH,231,Calculus II,LCD,0,3,0,...,1,0,1,0,0,0,1,1,22,"Solie, Brent B"
74488,2010,Summer,2010-su,ECON,102,Microeconomic Principles,LCD,0,8,10,...,5,1,2,1,0,0,0,0,33,"Vazquez, Jose J"
74489,2010,Summer,2010-su,ECON,102,Microeconomic Principles,LCD,1,4,4,...,2,1,1,0,1,0,0,0,26,"Arvin-Rad, Hassan"
74490,2010,Summer,2010-su,ECON,102,Microeconomic Principles,ONL,2,3,8,...,5,5,2,2,2,1,5,1,74,"Vazquez, Jose J"

In [48]:
# GPA weights dictionary
gpa_weights = {
    'A+': 4.0,
    'A': 4.0,
    'A-': 3.67,
    'B+': 3.33,
    'B': 3.0,
    'B-': 2.67,
    'C+': 2.33,
    'C': 2.0,
    'C-': 1.67,
    'D+': 1.33,
    'D': 1.0,
    'D-': 0.67,
    'F': 0.0
}

for grade in gpa_weights:
    if grade not in gpa_filtered.columns:
        gpa_filtered[grade] = 0

grade_cols = list(gpa_weights.keys())
gpa_filtered['Total_Grade_Points'] = sum(gpa_weights[grade] * gpa_filtered[grade] for grade in grade_cols)
gpa_filtered['Total_Students'] = gpa_filtered[grade_cols].sum(axis=1)

gpa_filtered['Overall_GPA'] = gpa_filtered['Total_Grade_Points'] / gpa_filtered['Total_Students']

C:\Users\irith\AppData\Local\Temp\ipykernel_6916\3912123847.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gpa_filtered['Total_Grade_Points'] = sum(gpa_weights[grade] * gpa_filtered[grade] for grade in grade_cols)
C:\Users\irith\AppData\Local\Temp\ipykernel_6916\3912123847.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gpa_filtered['Total_Students'] = gpa_filtered[grade_cols].sum(axis=1)
C:\Users\irith\AppData\Local\Temp\ipykernel_6916\3912123847.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gpa_filtered['Overall_GPA'] = gpa_filtered['Total_Grade_Points'] / gpa_filtered['Total_Students']

In [49]:
gpa_filtered

,Year,Term,YearTerm,Subject,Number,Course Title,Sched Type,A+,A,A-,...,D+,D,D-,F,W,Students,Primary Instructor,Total_Grade_Points,Total_Students,Overall_GPA
10,2025,Winter,2025-wi,ECON,102,Microeconomic Principles,ONL,44,29,11,...,0,1,0,0,0,97,"DiIanni, Isaac",371.01,97,3.824845
14,2025,Winter,2025-wi,IS,445,Data Visualization,ONL,18,11,1,...,0,0,0,0,1,31,"Besser, Stephanie A",122.67,31,3.957097
826,2024,Fall,2024-fa,CS,124,Intro to Computer Science I,OLC,0,819,90,...,0,16,0,34,16,1107,"Challen, Geoffrey W",4033.21,1107,3.643369
1048,2024,Fall,2024-fa,ECON,102,Microeconomic Principles,DIS,15,10,5,...,0,0,0,0,0,48,"Cueva Chavez, Ronald A",163.69,48,3.410208
1049,2024,Fall,2024-fa,ECON,102,Microeconomic Principles,DIS,7,13,7,...,0,0,0,0,0,48,"Cueva Chavez, Ronald A",162.35,48,3.382292
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73625,2010,Spring,2010-sp,MATH,231,Calculus II,LCD,2,4,3,...,0,3,2,0,0,24,"Szuta, Patryk L",67.69,24,2.820417
73626,2010,Spring,2010-sp,MATH,231,Calculus II,LCD,0,3,0,...,0,0,0,1,1,22,"Solie, Brent B",63.67,22,2.894091
74488,2010,Summer,2010-su,ECON,102,Microeconomic Principles,LCD,0,8,10,...,1,0,0,0,0,33,"Vazquez, Jose J",103.70,33,3.142424
74489,2010,Summer,2010-su,ECON,102,Microeconomic Principles,LCD,1,4,4,...,0,1,0,0,0,26,"Arvin-Rad, Hassan",79.02,26,3.039231
74490,2010,Summer,2010-su,ECON,102,Microeconomic Principles,ONL,2,3,8,...,2,2,1,5,1,74,"Vazquez, Jose J",194.37,74,2.626622

In [50]:
gpa_filtered.to_csv("datasets/gpa_filtered.csv")

In [51]:
# Define grade buckets
grade_buckets = {
    'A_range': ['A+', 'A', 'A-'],
    'B_range': ['B+', 'B', 'B-'],
    'C_range': ['C+', 'C', 'C-'],
    'D_range': ['D+', 'D', 'D-'],
    'F_range': ['F']
}

# Step 1: Make a copy and compute total students per row if not already done
gpa_filtered = gpa_filtered.copy()
grade_cols = sum(grade_buckets.values(), [])  # flatten the list
gpa_filtered['Total_Students'] = gpa_filtered[grade_cols].sum(axis=1)

# Step 2: Create new percentage columns per row
for bucket, grades in grade_buckets.items():
    gpa_filtered[bucket] = gpa_filtered[grades].sum(axis=1) / gpa_filtered['Total_Students'] * 100


gpa_filtered_prof = gpa_filtered.groupby(['Primary Instructor', 'Course Title', 'Subject', 'Number']).agg({
    'Overall_GPA': 'mean',
    'Total_Students': 'sum',
    'A_range': 'mean',
    'B_range': 'mean',
    'C_range': 'mean',
    'D_range': 'mean',
    'F_range': 'mean',
    'YearTerm': 'count'
}).reset_index()

In [52]:
gpa_filtered_prof.head()

,Primary Instructor,Course Title,Subject,Number,Overall_GPA,Total_Students,A_range,B_range,C_range,D_range,F_range,YearTerm
0,"Agirdas, Cagdas",Microeconomic Principles,ECON,102,3.101918,140,40.972222,40.364583,13.628472,4.340278,0.694444,4
1,"Ahlgren, Scott D",Calculus II,MATH,231,2.887670,1369,36.756780,30.060689,21.857478,7.785399,3.539654,8
2,"Ahmed, Iftikhar",Calculus II,MATH,231,2.667727,22,27.272727,36.363636,22.727273,13.636364,0.000000,1
3,"Albin, Pierre",Calculus II,MATH,231,2.857759,290,31.379310,34.827586,27.241379,4.137931,2.413793,1
4,"Ambardar, Shivangi",Microeconomic Principles,ECON,102,3.239827,396,54.258387,26.521561,11.779532,5.827716,1.612805,10

In [53]:
gpa_filtered_prof.to_csv("datasets/viz1.csv")